<section>
    <div style = "text-align: center; ">
        <div style="margin-top: 1.5rem; font-family: 'Otomanopee One', sans-serif;">
            <h1 style="font-family: 'Otomanopee One', sans-serif;">AAC Project</h1>
        </div>
        <div style="margin: 2rem 0; font-family: 'Otomanopee One', sans-serif;">
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            <span>nav4</span>
            <span>nav6</span>
        </div>
    </div>
</section>